html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c2cac7;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: rgb(61, 50, 24);
    background-color: #e2dadc;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
    box-shadow: 0px 2px 2px -1px rgb(20, 19, 19);
    z-index: 2;
}


button {
    color: #FDFDFD;
    background-color: #922237;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 2px 3px -1px rgb(14, 13, 13);
    z-index: 2;
}

button:hover {
    background-color: #432000;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #f5f2ee;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    background-color: #FFECC7;
}